body{
    background-color: rgb(175, 166, 166);
}

.asd {
    margin-top: -20%;
}



.carousel-inner {
    max-height: 550vh;
    overflow: hidden;
  }
  
  .carousel-img {
    object-fit: cover;
    width: 100%;
    height: 5000px;
    max-height: 140vh; /* Adjust this value based on your preference */
  }
  
  /* Optional: Adjust the image height for smaller screens */
  @media (max-width: 768px) {
    .carousel-img {
      max-height: 50vh; /* Smaller height on smaller screens */
    }
  }
  